.hero {
	margin-top: 75px;
	background: linear-gradient(135deg, #2fc7f7 0%, #409eef 100%);
	&__container {
		&-inner {
			max-width: 500px;
		}
		&-buttons {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 20px;
		}
		&-bordered {
			border-top: 1px solid var(--white-color);
		}
	}
	&__content {
		padding: 41px 0 57px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-size: 48px;
		line-height: 1;
		font-weight: 400;
		color: var(--white-color);
		margin-bottom: 40px;
	}
	&__paragraph {
		font-size: 20px;
		line-height: 1.8;
		color: var(--white-color);
		margin-bottom: 59px;
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
	}
	&__link {
		padding: 18px 15px 22px;
		text-decoration: none;
		color: var(--white-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		transition: background 0.3s ease;
		white-space: nowrap;
		min-width: 160px;
		&:hover {
			background: rgba(255, 255, 255, 0.3);
			color: var(--white-color);
		}
		&-active {
			background: var(--white-color) !important;
			color: var(--black-color);
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		&__header {
			justify-content: center;
		}
		&__link {
			min-width: 120px;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__content {
			padding: 40px 0;
			justify-content: center;
		}
		&__title {
			font-size: 34px;
			margin-bottom: 20px;
		}
		&__paragraph {
			font-size: 18px;
			margin-bottom: 20px;
		}
		&__image {
			display: none;
		}
		&__button {
			border-radius: 20px;
		}
	}
}

@media (max-width: 480px) {
	.hero {
		&__link {
			padding: 15px 10px;
		}
	}
}
