.title {
	margin: 0;
	&__primary {
		color: var(--dark-blue-color);
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		text-align: center;
		transition: color 0.3s ease;
		margin-bottom: 24px;
		&:hover {
			color: var(--blue-color);
		}
		&-black {
			color: var(--black-color);
		}
	}
	&__secondary {
		color: var(--black-color);
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
		font-weight: 400;
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.title {
		&__primary {
			font-size: 30px;
		}
	}
}

@media (max-width: 480px) {
	.title {
		&__primary {
			font-size: 26px;
		}
	}
}
