<section class="addon">
	<div class="container addon__container">
		<div class="addon__body">
			<div class="addon__grid">
				<a href="https://www.bitrix24.ru/features/tasks.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-10.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Система фокусировки внимания</div>
				</a>
				<a href="https://www.bitrix24.ru/features/more/scrum.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-11.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Битрикс24 Скрам</div>
				</a>
				<a href="https://www.bitrix24.ru/features/tasks.php#access/p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-12.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Распределение ролей</div>
				</a>
				<a href="https://www.bitrix24.ru/features/tasks.php#contractors/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-13.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Работа с подрядчиками</div>
				</a>
				<a href="https://www.bitrix24.ru/features/tasks.php#report/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-14.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">KPI и оценка эффективности</div>
				</a>
			</div>
			<div class="addon__buttons">
				<a href="https://www.bitrix24.ru/features/tasks.php/?p=6571969" class="btn-reset button__secondary">
					Больше о задачах
				</a>
				<a href="https://auth2.bitrix24.net/create/?p=6571969" class="btn-reset button__primary">
					Создать бесплатно
				</a>
			</div>
		</div>
	</div>
</section>
