<section class="addon addon-sites">
	<div class="container addon__container">
		<div class="addon__body">
			<div class="addon__grid">
				<a href="https://www.bitrix24.ru/features/sites.php#chat/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-13.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Бесплатный онлайн‑чат</div>
				</a>
				<a href="https://www.bitrix24.ru/features/sites.php#form/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-15.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">CRM-формы</div>
				</a>
				<a href="https://www.bitrix24.ru/features/sites.php#social/p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-16.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Лендинги для соцсетей</div>
				</a>
				<a href="https://www.bitrix24.ru/features/sites.php#analytics/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-2.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Сбор статистики</div>
				</a>
				<a href="https://www.bitrix24.ru/features/sites.php#mobile/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-17.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Адаптация под мобильные устройства</div>
				</a>
			</div>
			<div class="addon__buttons">
				<a href="https://www.bitrix24.ru/features/sites.php/?p=6571969" class="btn-reset button__secondary">
					Больше о сайтах
				</a>
				<a href="https://auth2.bitrix24.net/create/?p=6571969" class="btn-reset button__primary">
					Создать бесплатно
				</a>
			</div>
		</div>
	</div>
</section>
