<section class="addon">
	<div class="container addon__container">
		<div class="addon__body">
			<div class="addon__grid">
				<a href="https://www.bitrix24.ru/features/videocalling.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-1.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Видеозвонки</div>
				</a>
				<a href="https://www.bitrix24.ru/features/videocalling.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-2.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Работа с документами</div>
				</a>
				<a href="https://www.bitrix24.ru/features/videocalling.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-3.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Битрикс24 Подпись</div>
				</a>
				<a href="https://www.bitrix24.ru/features/videocalling.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-4.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Календарь</div>
				</a>
				<a href="https://www.bitrix24.ru/features/videocalling.php/?p=6571969" class="addon__item">
					<img
						src="./img/addon-icon-5.svg"
						class="image addon__icon"
						width="40"
						height="40"
						alt="Иконка описания секции"
					/>
					<div class="addon__link">Бизнес-процессы</div>
				</a>
			</div>
			<div class="addon__buttons">
				<a href="https://www.bitrix24.ru/features/crm/?p=6571969" class="btn-reset button__secondary">
					Больше об онлайн-офисе
				</a>
				<a href="https://auth2.bitrix24.net/create/?p=6571969" class="btn-reset button__primary">
					Создать бесплатно
				</a>
			</div>
		</div>
	</div>
</section>
