<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<div class="hero__container-inner">
				<h1 class="margin-reset hero__title">Битрикс24 помогает бизнесу работать</h1>
				<p class="margin-reset hero__paragraph">
					Вместо десятков сервисов и приложений — единая платформа для организации работы всей компании.
				</p>
				<div class="hero__container-buttons">
					<a
						href="https://auth2.bitrix24.net/create/?p=6571969"
						target="_blank"
						class="btn-reset button__primary hero__button"
					>
						Создать бесплатно
					</a>
				</div>
			</div>
			<img
				src="./img/hero-gif.svg"
				class="image hero__image"
				width="516"
				height="473"
				alt="Изображение коробки-битрикс"
			/>
		</div>
	</div>
	<div class="hero__container-bordered">
		<div class="container">
			<div class="hero__header">
				<a class="hero__link" href="https://www.bitrix24.ru/features/company.php?p=6571969">
					Совместная работа
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/crm/?p=6571969">CRM</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/copilot/?p=6571969">
					CoPilot
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/chat/?p=6571969">Чат</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/tasks/?p=6571969">
					Задачи и проекты
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/sites/?p=6571969">Сайты</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/shop/?p=6571969">
					Магазины
				</a>
			</div>
		</div>
	</div>
</section>
