<section class="section section-office">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Онлайн-офис для совместной работы</h2>
		<h4 class="title title__secondary section__subtitle">
			Мгновенно выходите на связь с любым сотрудником, согласовывайте документы и счета, общайтесь с коллегами.
		</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">Видеозвонки HD до 48 человек</div>
				<div class="text__secondary">
					Бесплатно общайтесь по видео с коллегами, клиентами, подрядчиками. Начать совещание можно прямо из
					чата или встречи в календаре!
				</div>
				<div class="text__primary">Мессенджер</div>
				<div class="text__secondary">
					Создавайте сколько угодно групповых и личных чатов, чтобы обсуждать идеи и делиться файлами.
				</div>
				<div class="text__primary">Учет рабочего времени и отчеты</div>
				<div class="text__secondary">
					Сотрудник может начать, приостановить и завершить рабочий день за один клик в Битрикс24.
					Устанавливайте график и фиксируйте отработанные часы.
				</div>
			</div>
			<img
				src="./img/office-image.png"
				class="image section__image"
				width="1000"
				height="722"
				alt="Изображение офиса"
			/>
		</div>
	</div>
</section>
