<section class="section section-crm">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Современная CRM, в которой есть всё</h2>
		<h4 class="title title__secondary section__subtitle">
			Подключайте почту, телефонию, соцсети, рекламу, сквозную аналитику, склады за пару кликов.
		</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">Мобильная CRM</div>
				<div class="text__secondary">
					Работайте с лидами, общайтесь с клиентами во всех каналах, заполняйте документы, выставляйте счета и
					принимайте оплату — прямо со смартфона.
				</div>
				<div class="text__primary">Клиентская база</div>
				<div class="text__secondary">
					Собирайте заявки со всех каналов: формы на сайте, онлайн-чаты, телефонные звонки и соцсети.
					Контакты, вся переписка и записи разговоров сохранятся в CRM.
				</div>
				<div class="text__primary">Автоматизация продаж</div>
				<div class="text__secondary">
					Десятки роботов для автоматизации продаж и маркетинга сэкономят ваше время и деньги.
				</div>
			</div>
			<img
				src="./img/crm-image.png"
				class="image section__image"
				width="680"
				height="510"
				alt="Изображение CRM"
			/>
		</div>
	</div>
</section>
