<section class="section section-shop">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Интернет-магазин за 120 секунд</h2>
		<h4 class="title title__secondary section__subtitle">Получайте заказы из соцсетей и обрабатывайте их в CRM.</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">Быстрое создание</div>
				<div class="text__secondary">
					Нажмите кнопку «Создать», добавьте товары в каталог, разместите ссылку на магазин в соцсетях и
					принимайте заказы. Все контакты автоматически попадают в CRM.
				</div>
				<div class="text__primary">Удобный каталог товаров</div>
				<div class="text__secondary">
					Добавить товар в каталог легко — введите описание, цену, загрузите фото и готово! Поддерживает SKU.
					А складской учет поможет контролировать остатки на складе.
				</div>
				<div class="text__primary">Заказы из всех каналов</div>
				<div class="text__secondary">
					Опубликуйте ссылку на интернет-магазин в соцсетях, отправьте ссылку клиенту в WhatsApp или SMS! Для
					быстрого оформления заказа нужно всего лишь оставить имя и номер
				</div>
			</div>
			<img
				src="./img/shop-image.png"
				class="image section__image"
				width="998"
				height="714"
				alt="Изображение задач"
			/>
		</div>
	</div>
</section>
