<section class="section section-sites">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Сайты и лендинги — в простом конструкторе</h2>
		<h4 class="title title__secondary section__subtitle">
			Создайте свой сайт, используя готовые блоки и шаблоны. Подключите онлайн-чат и собирайте заявки от клиентов!
		</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">Сайт внутри в CRM</div>
				<div class="text__secondary">
					Сайт не нужно специально интегрировать с CRM, он создается внутри CRM :) Все контакты клиентов
					сохраняются и попадают в работу менеджерам.
				</div>
				<div class="text__primary">Готовы к продвижению</div>
				<div class="text__secondary">
					Ваш сайт уже готов к SEO-продвижению: страницы загружаются быстро и соответствуют требованиям
					поисковиков.
				</div>
				<div class="text__primary">Полная адаптивность</div>
				<div class="text__secondary">
					Блоки сайта сами адаптируются для мобильных устройств. Клиентам из соцсетей будет удобно
					пользоваться сайтом и оставлять заявки.
				</div>
			</div>
			<img
				src="./img/sites-image.png"
				class="image section__image"
				width="998"
				height="714"
				alt="Изображение задач"
			/>
		</div>
	</div>
</section>
