<section class="section section-copilot">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Ваш личный AI-помощник CoPilot</h2>
		<h4 class="title title__secondary section__subtitle">
			Поиск идей, работа с текстом, расшифровка звонка от клиента, заполнение CRM, планирование — все это станет
			проще с CoPilot.
		</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">CoPilot там, где вы привыкли работать</div>
				<div class="text__secondary">
					Вы удивитесь, как гармонично CoPilot встроен в ваши ежедневные рабочие сценарии.
				</div>
				<div class="text__secondary">
					Открывайте привычные вам инструменты, одним кликом вызывайте AI и мгновенно получайте результат. Вам
					даже не нужно учиться общаться с ИИ — мы написали работающие промпты за вас.
				</div>
				<div class="text__primary">Открытый CoPilot</div>
				<div class="text__secondary">
					Выбирайте ту модель AI, которая лучше решает ваши задачи: GigaChat, YandexGPT, IT Solutions или
					приложения из Маркета.
				</div>
			</div>
			<img
				src="./img/copilot-image.png"
				class="image section__image"
				width="998"
				height="714"
				alt="Изображение задач"
			/>
		</div>
	</div>
</section>
