<section class="section section-tasks">
	<div class="container section__container">
		<h2 class="title title__primary section__title">Задачи и проекты</h2>
		<h4 class="title title__secondary section__subtitle">
			Выбирайте удобный режим работы с проектами, назначайте ответственных, используйте чек-листы и шаблоны
			регулярных задач.
		</h4>
		<div class="section__flex">
			<div class="section__column text__area">
				<div class="text__primary">Управление проектами в разных режимах</div>
				<div class="text__secondary">
					Используйте списки, чек-листы, диаграмму Ганта, календарь для контроля сроков и исполнителей. Или
					организуйте работу по правилам Скрам, используя канбан и другие готовые инструменты.
				</div>
				<div class="text__primary">Роли и права доступа</div>
				<div class="text__secondary">
					Распределите роли в задаче: ответственный, постановщик и наблюдатели. Вы можете настроить права на
					постановку задач, перенос крайнего срока и делегирование.
				</div>
				<div class="text__primary">Шаблоны задач и роботы</div>
				<div class="text__secondary">
					Создавайте шаблоны для регулярных задач, настраивайте автоматическую отправку писем, смену
					ответственного и статуса задачи.
				</div>
			</div>
			<img
				src="./img/tasks-image.png"
				class="image section__image"
				width="998"
				height="714"
				alt="Изображение задач"
			/>
		</div>
	</div>
</section>
