<section class="sub">
	<div class="container sub__container">
		<h2 class="title title__primary title__primary-black sub__title">
			Нужно еще больше инструментов? Попробуйте подписку на Битрикс24 Маркет
		</h2>
		<h4 class="title sub__subtitle">
			Интеграции с соцсетями, отчеты, готовые отраслевые CRM, шаблоны сайтов и еще 3000+ возможностей для вашего
			бизнеса — в подписке по фиксированной цене!
		</h4>
		<a target="_blank" href="https://www.bitrix24.ru/apps/subscribe.php" class="btn-reset sub__button">
			Оформить подписку
		</a>
	</div>
</section>
